header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    align-items: center;
    gap: 100px;  
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

header .container nav li a {
    padding: 24px 0;
}

header .container nav li a:hover {
    border-bottom: 2px solid var(--button);
}

main .container {
    align-items: center;
    flex-direction: column;
}

main .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 4rem;
}

main .title span {
    color: var(--backgrond);
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

@keyframes menu-animation {
    from {
        opacity: 50%;
    } 
    to {
        opacity: 100%;
    }
}

@media (max-width: 928px) {
    .container, .container-mobile {
        display: flex;
        margin: 40px 24px 0;
    }

    .primary-button {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    .mobile-menu {
        position: absolute;
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        background: linear-gradient(to bottom, #000 67%, transparent);
        animation: menu-animation 0.5s;
    }

    .mobile-menu ul {
        position: absolute;
        flex-direction: column;
        gap: 0;
        width: 100%;
        margin: 1rem 0;
        background: var(--backgrond);
        border: 0.5px solid var(--border-menu-mobile);
    }

    .mobile-menu ul li {
        display: flex;
        padding: 24px;
        border-bottom: 0.5px solid var(--border-menu-mobile);
    }

    .mobile-menu ul li:last-child {
        border: 0;
    }

    .mobile-menu ul li a {
        color: var(--text-color-menu-mobile);
    }

    .mobile-menu ul li:nth-child(1) {
        border-left: 5px solid var(--button);
    }


    main .container img {
        width: 95vw;
    }

    main .title {
        font-size: 3rem;
    }
}

@media (max-width: 400px) {
    main .title {
        font-size: 2rem;
    }
}